.scrollbar-on-hover{
    overflow: hidden!important;

    &:hover{
        overflow: auto!important;
    }
}

.custom-scrollbar::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

.custom-scrollbar::-webkit-scrollbar-track {
    background: #2a2929;
    border-radius: 50px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 50px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #555;
}

/* Show scrollbars normally, hide them when NOT hovering */
.scrollbar-on-hover:not(:hover) *::-webkit-scrollbar-thumb {
    background: var(--darkBGColor3);
}

.scrollbar-on-hover:not(:hover) *::-webkit-scrollbar-track {
    background: var(--darkBGColor3);
}