.navbar {
    display: flex;
    gap: 15px;
    justify-content: center;
    font-size: 2em;
    background-color: var(--darkBGColor2);

    a {
        color: var(--darkerTextColor);
        text-decoration: none;
        padding: 10px 0px;

        &.active {
            color: var(--textColor);
            box-shadow: var(--selectedBorderColor) 0px -2px inset;
        }
    }
}