[widget-name="SubscriptionsWidget"] {
    .statistics-action-bar {
        display: flex;
        gap: 15px;
    
        a {
            font-size: 1.2em;
            cursor: pointer;
            border-radius: 10px;
            padding: 10px;
        }
    }
    
    .add-download-btn {
        background-color: var(--success);
    }

    .auto-downloader {
        display: flex;
        flex-direction: column;
        gap: 15px;
    }

    .settings {
        display: flex;
        flex-direction: column;
        gap: 15px;
    }

    .setting {
        display: flex;
        width: 400px;

        span {
            background-color: var(--darkBGColor2);
            border-top-left-radius: 50px;
            border-bottom-left-radius: 50px;
            font-weight: bold;
            line-height: 56px;
            padding: 0px 20px;
            padding-right: 10px;
        }

        :is(input) {
            text-align: right;
        }

        :is(input, select, textarea) {
            flex-grow: 1;
            background-color: var(--darkBGColor2);
            border-top-right-radius: 50px;
            border-bottom-right-radius: 50px;
            font-size: 1.2em;
            border: 2px solid var(--darkBGColor2);
            outline: none;
            padding: 15px;
            color: var(--textColor);
        }
    }

    .auto-downloader-table {
        table-layout: auto;
        font-size: 1.2em;

        tr {
            &:first-of-type {
                position: sticky;
                top: 0;
                font-size: 1.5em;
                background-color: var(--darkBGColor3);
            }

            th {
                padding: 10px 10px;
                width: auto;
            }

            td {
                padding: 10px 10px;
                width: auto;
            }

            [col="actions"] {
                width: 150px;
                text-align: center;
            }

            [col="url"] {
                a {
                    color: var(--textColor);
                }
            }

            /* [col="state"] {
            
        }

        [col="target"] {
            
        } */
        }
    }
}